.Allergens {
    height: 100%;
}

.Allergens h1 {
    text-align: center;
}

.allergens {
    background-color: #DDE5B6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

