.Login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F0EAD2;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#email {
    margin-bottom: 10px;
}

#password {
    margin-bottom: 25px;
}