/* auth.css */
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #F0EAD2;
    border: 1px solid #DDE5B6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add specific styling for login and signup forms */