/* home.css */
.home-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #F0EAD2;
    border: 1px solid #DDE5B6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .home-container h2 {
    color: #7B3532;
  }
  
  .home-container p {
    color: #9F4711;
    margin-bottom: 20px;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  /* Button styles */
  .btn-primary {
    background: #ADC178;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btn-secondary {
    background: #DDE5B6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  .random-images {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  .random-images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
  }