/* tracker.css */
.tracker-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #DDE5B6;
    border: 1px solid #9F4711;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add specific styling for the tracker page content */